@font-face {
    font-family: 'ambleregular';
    src: url('fonts/Amble-Regular-webfont.eot');
    src: url('fonts/Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Amble-Regular-webfont.woff2') format('woff2'),
         url('fonts/Amble-Regular-webfont.woff') format('woff'),
         url('fonts/Amble-Regular-webfont.ttf') format('truetype'),
         url('fonts/Amble-Regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*
{
  font-family: 'ambleregular', Calibri, Impact, Verdana, Arial, serif;

}

h1
{
	text-align: center;
	font-weight: bold;

}

h2
{
	color: grey;
	font-weight: bold;

 }
/*Commentaires */

.introduction
{

	color: grey;
	font-size: 1.5em;


}

.nomdeboite
{

	font-style: italic;
	font-weight: lighter;
	font-size: 1em
	;
}