/* Font*/

@font-face {
    font-family: 'ambleregular';
    src: url('fonts/Amble-Regular-webfont.eot');
    src: url('fonts/Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Amble-Regular-webfont.woff2') format('woff2'),
         url('fonts/Amble-Regular-webfont.woff') format('woff'),
         url('fonts/Amble-Regular-webfont.ttf') format('truetype'),
         url('fonts/Amble-Regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*
{
  font-family: Calibri, Impact, Verdana, Arial, serif;

}

h1
{
	text-align: center;
	font-weight: bold;
}

h2
{
	color: white;
	background-color: rgb(201,193,193);
	padding: 3px;
	text-align: center;
	text-transform: uppercase;
	font-size: 1em;
}

ul, ol
{
	list-style-type: none;
}

a
{
	text-decoration: none;
}


/* organisation de la page*/

#conteneur
{
	display: flex;
	flex-direction: row-reverse;
	margin: auto;
	width: 900px;
}

#conteneur h3
{
	margin-bottom: -15px;
}

#page_droite
{
	width: 70%;
	margin-left: 30px;
}

#page_droite h2
{

	text-align: left;
	padding-left: 10px;
	text-transform: : uppercase;
	margin-right: 300px;
}

.nomdeboite
{
	margin-bottom: -17px;
}

#page_droite h4
{
	margin-bottom: -0.5px;
	color: rgb(104,123,193);
	padding-left: 15px;
}

#page_droite h4+p
{
	margin-top: -0.5px;	
}


#page_droite ul
{
	padding-left: 15px;
	margin-top: -0.5px;
}

.journalisme
{
	font-style: italic;
}
.nomdeboite
{
	font-style: italic;
	font-weight: bold;
	font-size: 1em;
}




#page_gauche
{
	width: 30%;
	background-color: rgb(157,201,224);

}

#page_gauche a, h3, p
{
	padding-left: 15px;
}

#page_gauche ul
{
	padding-left: 15px;
}

#atouts p
{
	text-align: justify;
	padding-right: 15px;
	padding-left: 15px;
}

#photo img
{
	 box-shadow: 0px 0px 2px 2px black;
}

#photo p
{
 text-align: left;
}

#identite
{
	text-align: left;

}

/* apparences*/

#intro
{
	font-size: 1.7em;
	font-weight: bold;
	text-align: center;
}

.introduction
{
	font-size: 1.5em;
	text-align: center;
	border: 0.15em solid rgb(185,205,229) ;
	padding: 3px ;
}




